* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background: rgb(20,20,20);
  color: white;
}

.received {
  justify-content: left;
}

.received img {
  margin-right: 2vw;
}

.sent {
  justify-content: right;
}

.sent img {
  order: 2;
  margin-left: 2vw;
}

/* https://projects.verou.me/bubbly/ */

.speech-bubble {
	position: relative;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-left-color: beige;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
  margin-right: -20px;
  transform: rotate(90deg);
  z-index: -5;
}